body {
  margin: 0;
  overflow: hidden;
}

#root {
  width: 240px;
  height: 410px;
  margin: 0;
  overflow: hidden;
}

.app {
  background-color: gold;
  margin: 0;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}